{% extends 'base.html' %}

{% block content %}
  <header style="color: #000; text-align: center; padding: 20px;">
      <h1>About Our Helpdesk</h1>
  </header>
  <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
      <h2>Welcome to Our Helpdesk!</h2>
      <p>
          Our helpdesk is a platform designed to connect individuals in need of assistance with those willing to provide help. Whether you're seeking support or want to lend a helping hand, we've got you covered.
      </p>

      <h3>How It Works</h3>
      <p>
          1. <strong>Request Help:</strong> If you need assistance, you can create a help request by providing details about your needs and requirements.
      </p>
      <p>
          2. <strong>Submit a Bid:</strong> Individuals who are willing to help can review your request and submit bids offering their assistance and expertise.
      </p>
      <p>
          3. <strong>Admin Approval:</strong> Our team of administrators will review your request and the submitted bids to ensure a secure and helpful environment.
      </p>
      <p>
          4. <strong>Get Help:</strong> Once your request is approved, we will begin to review it as quickly as possible and will do everything possible to help you.
      </p>

      <h3>Our Mission</h3>
      <p>
          Our mission is to facilitate a community of support and assistance. We believe that by connecting those in need with those who can provide help, we can create a positive impact on people's lives and foster a culture of collaboration and kindness.
      </p>

      <h3>Contact Us</h3>
      <p>
          Have questions or feedback? Feel free to reach out to us. You can contact our support team via email at <a style="color: #000" href="mailto:support@yourhelpdesk.com">support@yourhelpdesk.com</a>.
      </p>
  </div>
{% endblock %}
